/* Background image */
html {
    background: url(../images/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Hidden elements */
#main-content {
    display: none;
}

.card {
    display: none;
}

.carousel .carousel-item {
	width: 400px;
}

/* Results card */
.collapsible-body {
    opacity: .9;
    background-color: white;
}

li {
    list-style-type: initial !important;
}

#results-card {
    display: none;
}

#results-card li {
    list-style-type: none !important;
}

#image-card {
	margin-top: 0px !important;
}

.slider .indicators .indicator-item.active {
    background-color: #1565c0;
}