/* Background image */
html {
    background: url(../images/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Hidden elements */
#main-content {
    display: none;
}

#start-buttons .card {
    display: none;
}

/* Carousel images */
.carousel .carousel-item {
    width: 300px;
}

/* Results card */
.collapsible-body {
    opacity: .9;
    background-color: white;
}

#results-card {
    display: none;
}

li {
    list-style-type: initial !important;
}

.nav-wrapper li:first-child {
    list-style-type: none !important;
}

table {
    border-collapse: unset !important;
}


#weather tr:hover {
    transform: scale(1.01);
    background: lightgreen;
}


#forecast td {
    text-align: center;
    border-right: 2px solid black;
    border-top: none;
    border-bottom: none;
}

#forecast td:last-child {
    border-right: none;
}